@model TeamSkunk.Models.Member

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Member to Guild</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Guild.Name" class="col-md-2 control-label">Guild Name</label>
            <div class="col-md-10">
                <select asp-for="GuildId" class ="form-control" asp-items="ViewBag.GuildId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="JoinDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Person.DiscordName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PersonId" class ="form-control" asp-items="ViewBag.PersonId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="isOfficer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="isOfficer" class="form-control" />
                <span asp-validation-for="isOfficer" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="isRecruiter" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="isRecruiter" class="form-control" />
                <span asp-validation-for="isRecruiter" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="isLeader" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="isLeader" class="form-control" />
                <span asp-validation-for="isLeader" class="text-danger" />
            </div>
        </div>        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
